<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "StarterTribe" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div style="float:right"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="startertribe">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
      <div id="user_nav">
	      <% if current_user %>
	        Logged in as <%= current_user.email %>
	        <%= link_to "Log out", logout_path %>
	      <% else %>

			<p> Log in now! </p>
			
			<%= form_tag sessions_path do %>
			  <p>
			    <%= label_tag :login, "Username or Email Address" %><br />
			    <%= text_field_tag :login, params[:login] %>
			  </p>
			  <p>
			    <%= label_tag :password %><br />
			    <%= password_field_tag :password %>
			  </p>
			  <p><%= submit_tag "Log in" %></p>
			<% end %>

	        <%= link_to "Sign up", signup_path %> or
	        <%= link_to "Log in", login_path %>
	      <% end %>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
