<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "StarterTribe" %></title>
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "960.css"%>
		<%= stylesheet_link_tag "reset.css"%>
		<%= stylesheet_link_tag "960.css"%>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
		<style>
			.color {
				background: #c0c0c0;
			}
			#header {
				height: 100px;
				padding-top: 15px;
			}
			#logo {
				height: 100px;
			}
			#main {
				padding: 15px;
			}
		</style>
	</head>
	<body>
		<div class="container_12" id="header">
			<div id="logo" class="grid_6 color">
				<%= image_tag("logo.png") %>
			</div>
			<div id="user_nav" class="grid_3 color push_3">
				<% if current_user %>
				Logged in as <%= current_user.email %>
				<%= link_to "Log out", logout_path %>
				<% else %>
				<p>
					Log in now!
				</p>
				<%= form_tag sessions_path do %>
				<p>
					<%= label_tag :login, "Username or Email Address" %>
					<br />
					<%= text_field_tag :login, params[:login] %>
					<%= label_tag :password %>
					<br />
					<%= password_field_tag :password %>
					<%= submit_tag "Log in" %>
				</p>
				<% end %>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
		<%= yield %>
	</body>
</html>
